.header-img{
    width: 195px;
    height: 39px;
}
.header-navigation{
    width: 550px;
    font-family: 'Lato';
    font-size: 20px;
    color: #3D37F1;
    display: flex;
    justify-content: space-between;
}
.header{
    max-width: 1408px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.section1{
    width: 100%;
    height: 562px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.information-img{
    max-width: 500px;
    width: 100%;
}
.information-left-div{
    display: flex;
    flex-direction: column;
}
.information-title{
    max-width: 460px;
    width: 100%;
    height: 180px;
    font-family: 'Lato';
    font-size: 60px;
    color: #534D4D;
}
.information-text{
    max-width: 460px;
    width: 100%;
    height: 80px;
    color: #534D4D;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}
.div-button{
    width: 200px;
    height: 77px;
    background-color: #3D37F1;
    color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button-icon{
    width: 30px;
    height: 30px;
}
.button-text{
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
}
.section2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.div-service{
    max-width: 1208px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.service-div-top{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service-title1{
    color: #3D37F1;
    font-size: 20px;
    font-family: 'Lato';
    text-align: center;
}
.service-title2{
    color: #5A5454;
    font-size: 39px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 18px 0;
}
.service-text{
    max-width: 600px;
    width: 100%;
    color: #747474;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}
.service-div-bottom{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.service{
    max-width: 340px;
    width: 100%;
    height: 421px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-info-title{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    margin: 57px 0 13px 0;
}
.service-info-text{
    max-width: 328px;
    width: 100%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 11px;
}
.service-button{
    width: 130px;
    height: 45px;
    background-color: #ffffff;
    color: #4B647E;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color1{
    background-color: #FBBA77;
    margin-bottom: 15px;
}
.color2{
    background-color: #41EAE3;
    margin: 0 15px 15px 15px;
}
.color3{
 background-color: #69529F;
    margin-bottom: 15px;
}
.color4{
    background-color: #4386D2;
}
.color5{
    background-color: #A5A2F6;
    margin: 0 15px 0 15px;
}
.color6{
    background-color: #FF8088;
}
